{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'library.creation'|trans }}</h1>

    {{ form_start(form) }}
    <div class="form-group has-error">
        {{ form_row(form.name, {label: "appellation"|trans}) }}
    </div>

    <br>
    {{ form_row(form.file) }}

    {#{{ form_widget(form) }}#}
    <hr>
    <input class="btn-primary btn" type="submit" value="{{ 'create'|trans }}"/>
    {{ form_end(form) }}

    <br>
    <a  class="btn-secondary btn"  href="{{ path('library_index') }}">{{ 'back.to.the.list'|trans }}</a>
    <hr>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {

            // validate translatable fields
            $('body form').on('submit', function (e) {
                var field = false;
                $('.translatable').each(function () {
                    if ($(this).val() === "") {
                        e.preventDefault();

                        field = $(this).parent().parent().parent().find('.col-form-label').html();
                    }
                });
                if(field){
                    alert(field+" {{ 'can.not.be.empty'|trans }}");
                }
            });



            // START style tabs language for translatable fields
            $('.nav-tabs li').each(function () {
                $(this).addClass('nav-item');
                if ($(this).hasClass('active')) {
                    $(this).find('a').addClass('active');
                }
                $(this).find('a').addClass('nav-link');
            });
            // END style tabs language
        });
    </script>
{% endblock %}