<!DOCTYPE html>
<html>
<head>

    {#<meta name="description"#}
    {#content="Магазин InPlay. Торофлакс - іграшка, яка гіпнотизує. Вироблена з металу. Ідеальний подарунок дитині і дорослому. Здивує, розважить, розслабить, або просто займе час. Спіннер 2.0. Купить, заказать, Украина, Киев, Україна, Київ, купити, спиннер 2.0, кинетическая игрушка">#}
    {#<title>{% block title %}ТОРОФЛАКС Кінетична іграшка, яка гіпнотизує, або спіннер 2.0. Оберти в 3D (Toroflux, Magic ring, Flow Toy). Купити, замовити, відгуки. InPlay{% endblock %}</title>#}

    {# -- open graph tags#}
    {#<meta property="fb:app_id" content="235586170334987" />#}
    {#<meta property="og:title" content="Торофлакс - іграшка, яка гіпнотизує, або спіннер 2.0. Оберти в 3D." />#}
    {#<meta property="og:description" content="Магазин InPlay. Торофлакс - іграшка, яка гіпнотизує. Вироблена з металу. Ідеальний подарунок дитині і дорослому. Здивує, розважить, розслабить, або просто займе час. Спіннер 2.0. Купить, заказать, Украина, Киев, Україна, Київ, купити, спиннер 2.0, кинетическая игрушка" />#}
    {#<meta property="og:type" content="product" />#}
    {#<meta property="og:url" content="http://inplay.com.ua/" />#}
    {#<meta property="og:image" content="{{ app.request.uriForPath('/assets/images/header-bg.jpg') }}" />#}
    {#<meta property="og:image:alt" content="{{ app.request.uriForPath('/assets/images/header-bg.jpg') }}" />#}
    {#<meta property="og:locale" content="uk_UA" />#}
    {#<meta property="og:locale:alternate" content="ru_RU" />#}
    {#<meta property="og:site_name" content="InPlay" />#}
    {# -- END openn graph#}
    <link rel="shortcut icon" href="http://bizstring.com/wp-content/uploads/2014/09/BS-Logo.jpg" type="image/x-icon" />
    <meta name="viewport" content="initial-scale=0.65">
    <link rel="icon" type="image/x-icon" href="{{ app.request.uriForPath('/assets/images/pagename.ico') }}"/>
    <title>BrailleScore</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
            integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    {% block stylesheets_fos_user %}{% endblock %}
    {% block styleprofile %}{% endblock %}

    {#base css#}
    <link href="{{ asset('assets/css/base.css') }}" rel="stylesheet">

</head>
<body>


{#-- START navigation bar --#}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark   " style="box-shadow: 0 2px 2px -2px grey;background-color: #888888;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}"><img style="width:100%;" src="{{ asset('assets/images/braillescore.gif') }}"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class=" nav navbar-nav mr-auto">

                {{ render(controller('AppBundle\\Controller\\DefaultController::navbarConfigurations')) }}


                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('homepage') }}">{{ 'main.page'|trans }} <span class="sr-only"></span></a>
                </li>
                {#embedded controller navbar.html.twig#}
                {{ render(controller('AppBundle\\Controller\\DefaultController::navbar')) }}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('library_index') }}">{{ 'library'|trans }} <span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav justify-content-end">

                {#--------- if logged in -----------#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% if is_granted('ROLE_SEND_EMAIL') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact_contact') }}">
                            <span class="fa fa-envelope"> </span>
                        </a>
                    </li>
                {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">
                            <span class="fa fa-user"> {{ app.user.username }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                            <span class="	fa fa-sign-out"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                            <span class="fa fa-sign-in"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="dropdown nav-item ">
                    {% include 'locale.html.twig' %}
                </li>
            </ul>
        </div>

    </div>
</nav>
{#-- END navigation bar --#}


<div id="error-messages">
    {#***** -- flashback messages  --  *****#}
    <div id="flashback-messages">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }} alert alert-{{ type }} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block flashback_messages %}{% endblock %}
    </div>
</div>

{% block outerbody %}{% endblock %}

<div class="container my-container  ">
    <div class="row">
        <div class="col">
            {% block body %}{% endblock %}
        </div>
    </div>

</div>
<nav class="navbar bottom navbar-dark bg-primary bottom-navbar" style="height: 23px;line-height: 10px;box-shadow: 0 2px 2px 2px grey;top:-22px;">
    <div class="container" >
        <div class="navbar-text" style="text-align: center;" >WUT 2018 - Andrii Vakhniuk</div>
    </div>
</nav>
{% block javascripts %}

{% endblock %}
</body>
</html>
