{% for page  in pages %}
    {% if page.active and (is_granted('IS_AUTHENTICATED_FULLY') or page.public) %}

        {% if page.subPages|length == 0 %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('page_content',{'id':page.id}) }}">{{ page.name }} <span
                            class="sr-only"></span></a>
            </li>
        {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ page.name }}
                </a>
                {% for subPage in  page.subPages %}
                    {% if subPage.active  and (is_granted('IS_AUTHENTICATED_FULLY') or subPage.public) %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{{ path('page_content',{'id':subPage.id}) }}">{{ subPage.name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
