{% extends 'base.html.twig' %}

{% block body %}
    <hr>
    <h1>{{ 'page.creation'|trans }}</h1>
<hr>
    {{ form_start(form) }}
    {{ form_row(form.active) }}
    {{ form_row(form.public) }}

    <div class="form-group">
        {{ form_row(form.name, {label: "appellation"|trans}) }}
    </div>

    <hr>
    <div class="form-group">
        {{ form_row(form.content, {label: "content"|trans}) }}
    </div>


    <input class="btn-primary btn" type="submit" value="{{ 'create'|trans }}"/>
    {{ form_end(form) }}
    <br>
    <a class="btn-secondary btn" href="{{ path('page_index') }}">{{ 'back.to.the.list'|trans }}</a>
    <hr>

{% endblock %}




{% block javascripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script>

        $('body form').on('submit', function (e) {
            $('.text-editor').each(function () {
                var markupStr = $(this).summernote('code');
                $(this).val(markupStr);
            });
        });
        $(document).ready(function () {
            //init
            $('.text-editor').each(function () {
                var markupStr = $(this).summernote({
                    placeholder: '. . .',
                    tabsize: 2,
                    height: 200
                }, $(this).val());
            });

            // START style tabs language
            $('.nav-tabs li').each(function () {
                $(this).addClass('nav-item');
                if ($(this).hasClass('active')) {
                    $(this).find('a').addClass('active');
                }
                $(this).find('a').addClass('nav-link');
            });
            // END style tabs language
        });
    </script>
{% endblock %}