{% extends 'base.html.twig' %}
{% block stylesheets%}
    <style>
        body img{
            width:100%;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="text-align: center;">{{ 'main.page'|trans }}: {{ page.name }}</h1>
    <hr>
    <br>
    <div class="col-sm-12">

        <table class="table table-striped thead-dark ">
            <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ page.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>{{ 'appellation'|trans }}</th>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>{{ 'active'|trans }}</th>
                <td>{% if page.active %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'public'|trans }}</th>
                <td>{% if page.public %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-11">

            <div class="float-right">
                {{ form_start(delete_form) }}
                <div class="btn-group " role="group" aria-label="Basic example">
                    <a class="btn-primary btn" href="{{ path('page_edit', { 'id': page.id }) }}"><i
                                style="margin-right: 10px;" class="fa fa-edit"></i>{{ 'edit'|trans }}</a>
                    <input class="btn-danger btn" type="submit" value="{{ 'delete'|trans }}">
                </div>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <hr>

    <br>
    <h2>{{ 'subpages'|trans }}:</h2>
    <ul class="list-group col-sm-8">
        {% for subpage in page.getSubPages() %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ subpage.getName() }}

                <small>{% if subpage.active %}{{ 'active'|trans }}{% else %}{{ 'disabled'|trans }}{% endif %} |
                    {% if subpage.public %}{{ 'public'|trans }}{% else %}{{ 'private'|trans }}{% endif %}</small>

                <div class="btn-group" role="group" aria-label="Basic example">

                    <a href="{{ path('page_content',{'id':subpage.getId()}) }}" type="button"
                       class="btn btn-primary">{{ 'show'|trans }}</a>

                    <a href="{{ path('page_edit',{'id':subpage.getId()}) }}" type="button"
                       class="btn btn-warning"><i class="fa fa-edit"></i>{{ 'edit'|trans }}</a>

                </div>
            </li>

        {% endfor %}
    </ul>
    <br>
    {% if is_granted('ROLE_ADD_PAGE') %}

        <a class="btn btn-primary" href="{{ path('subpage_new',{'page_id':page.getId()}) }}"> <i
                    class="fa fa-plus"></i> {{ 'add.subpage'|trans }}</a>
        <br>
    {% endif %}

    <hr>


    <a class="btn-secondary btn" href="{{ path('page_index') }}">{{ 'back.to.the.list'|trans }}</a>



{% endblock %}
